<%- include("partials/header") -%>

<div class="row" style="background-color: white; margin-top:5%;">
    <div class="panel panel-default print-no-border">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4"></div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Questions</th>
                                <th class="text-center">Num Correct</th>
                                <th class="text-center">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">15</td>
                                <td class="text-center">3</td>
                                <td class="text-center">20.00%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4"></div>
            </div>
            <div class="row print-no-display">
                <div class="col-sm-4 col-md-4 col-lg-4"></div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                    <a href="#" class="btn btn-success">Take Another Test <span class="glyphicon glyphicon-pencil">  </span></a>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4"></div>
            </div>
        </div>
    </div>
</div>


<form action="/result" method="post">
  <div class="container-fluid">
    <div class="row row-group">
      <div class="col-md-12">
        <h3>Reading Comprehension Version 1</h3>
      </div>
    </div>
    <div class="row well row-well">
      <div class="col-md-12">
        <p>
          <strong
            >INSTRUCTIONS: For each question, read the information provided and
            answer the question that follows.
          </strong>
        </p>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading panel-title">
              <strong>TITLE: </strong>
            </div>
            <div class="">
              <p>
                The Los Angeles County Department of Animal Care and Control
                (ACC) is one of the largest and most progressive animal control
                agencies in the United States. The ACC operates six animal
                shelters serving all unincorporated County areas and 50 contract
                cities. The ACC covers more than 3,200 square miles of cities,
                deserts, beaches, and mountains; from the Antelope Valley in the
                north to the Palos Verdes Peninsula in the south; as far east as
                the border of San Bernardino County and west all the way to
                Thousand Oaks. The ACC provides animal control and rescue
                services 24 hours a day, seven days a week in our service area.
              </p>
              <p>According to the passage,</p>
              <div id="question_error_3157"></div>
            </div>

            <ol class="list-group question1">
                <h3>Question 1 : How does music help reduce stress?</h3>
              <li class="list-group-item">
                <div class="input-group">
                  <label for="#Q1_1" class="form-control alert-info"
                    >the ACC handles only domestic animals.</label
                  >
                  <span class="input-group-addon has-success">
                    <input
                      type="radio"
                      id="#Q1_1"
                      name="optionQ1"
                    />
                  </span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group">
                  <label for="#Q1_2" class="form-control"
                    >the ACC provides control and rescue services for some
                    cities.</label
                  >
                  <span class="input-group-addon">
                    <input
                      type="radio"
                      id="#Q1_2"
                      name="optionQ1"
                    />
                  </span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group">
                  <label for="#Q1_3" class="form-control"
                    >Animal Care and Control operates within and outside of Los
                    Angeles County.</label
                  >
                  <span class="input-group-addon">
                    <input
                      type="radio"
                      id="#Q1_3"
                      name="optionQ1"
                    />
                  </span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group">
                  <label for="#Q1_4" class="form-control"
                    >services are provided to any city or unincorporated area
                    within the 3,200 miles covered by the Agency.</label
                  >
                  <span class="input-group-addon">
                    <input
                      type="radio"
                      id="#Q1_4"
                      name="optionQ1"
                    />
                  </span>
                </div>
              </li>
            </ol>

            <ol class="list-group question2">
                <h3>Question 2</h3>
                <li class="list-group-item">
                  <div class="input-group">
                    <label for="#Q2_1" class="form-control alert-info"
                      >the ACC handles only domestic animals.</label
                    >
                    <span class="input-group-addon has-success">
                      <input
                        type="radio"
                        id="#Q2_1"
                        name="optionQ2"
                      />
                    </span>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="input-group">
                    <label for="#Q2_2" class="form-control"
                      >the ACC provides control and rescue services for some
                      cities.</label
                    >
                    <span class="input-group-addon">
                      <input
                        type="radio"
                        id="#Q2_2"
                        name="optionQ2"
                      />
                    </span>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="input-group">
                    <label for="#Q2_3" class="form-control"
                      >Animal Care and Control operates within and outside of Los
                      Angeles County.</label
                    >
                    <span class="input-group-addon">
                      <input
                        type="radio"
                        id="#Q2_3"
                        name="optionQ2"
                      />
                    </span>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="input-group">
                    <label for="#Q2_4" class="form-control"
                      >services are provided to any city or unincorporated area
                      within the 3,200 miles covered by the Agency.</label
                    >
                    <span class="input-group-addon">
                      <input
                        type="radio"
                        id="#Q2_4"
                        name="optionQ2"
                      />
                    </span>
                  </div>
                </li>
              </ol>

          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-sm-12 col-md-12 col-lg-12 text-center">
        <input type="submit" class="btn btn btn-lg btn-success"/>
      </div>
    </div>
  </div>
</form>

<%- include("partials/footer") -%>
